body, html {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
}

.button-container {
  text-align: center;
}

button {
  padding: 20px;
  font-size: 20px;
  cursor: pointer;
  border-radius:  50%;
  width: 100px;
  height: 100px;
  text-align: center;
  line-height: 100px;
  color: rgb(252, 10, 10);

}

