body, html {
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
}

#main-btn {
  font-size: 20px;
  margin: 20px;
  cursor: pointer;
  border-radius:  50%;
  width: 100px;
  height: 100px;
  line-height: 100px;
  color: #fff;
  background: url('./button.svg');
  background-position: center;
  background-size: contain;
  border:none;
}

#voice-select {
  margin-top: 20px;
  display: block;
}
